<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link  href="css/display.css" rel="stylesheet">

  
</head>
  <body>

    <table>
      <caption>All Stocks</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Name</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>3</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    
  </body>
</html>

