<!DOCTYPE html>
<html>
<head>
    <title>Stock Market</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    {% load static %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "css/font-awesome.min.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap-social.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap-theme.min.css" %} rel="stylesheet">
    <link href={% static "css/mystyles.css" %} rel="stylesheet">
    <link href={% static "css/vision.css" %}rel="stylesheet">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src={% static "js/bootstrap.min.js" %}></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img src={% static "pics/adbms/7.png" %}style="height: 50px; width: 50px; top: 0px; left: 130px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav" style="font-family: sans-serif; font-size: medium">
                <li><a href="../homepage/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li><a href="../stocks/"><i class="fa fa-check"></i>&nbsp;Stocks</a></li>
               {% if user.is_authenticated %}
                <li><a href="../portfolio/"><i class="fa fa-check"></i>&nbsp;Portfolio</a></li>
                <li class="active"><a href="../transact/"><i class="fa fa-check"></i>&nbsp;Buy/Sell</a></li>
               {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right" style="font-family: sans-serif; font-size: medium">
            {% if user.is_authenticated %}
                
                <li><a class="button" href="../logout/"><i class="fa fa-sign-in"></i>&nbsp;Logout</a></li>
            {% else %}
                <li><a class="button" href="../register/"><i class="fa fa-sign-in"></i>&nbsp;Register</a></li>
                <li><a class="button" href="../login/"><i class="fa fa-sign-in"></i>&nbsp;Login</a></li>

            {% endif %}
            </ul>

        </div>
    </div>
</nav>
    <div class="film" id="p2">
</div>
<div class="line"></div>


<div id = "wrapper">
    <h1>Buy & Sell</h1>
    <fieldset>
    <form method="POST" action="../transact/">{% csrf_token %}
    <div class="control"><label for="symbol" class="label1">&nbsp;&nbsp;Symbol: </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="symbol"></div>
    <div class="control"><label for="vol" class="label1">&nbsp;&nbsp;&nbsp;Volume: </label><input type="number" name="volume"></div>
    <div class="control">&nbsp;&nbsp;<input type="radio" name="choice" value="buy">&nbsp;&nbsp;Buy</div>
    <div class="control">&nbsp;&nbsp;<input type="radio" name="choice" value="sell">&nbsp;&nbsp;Sell</div>   
    <div><input type="submit" id="submit" value="SUBMIT">
    <input type="reset" id="reset" value="CLEAR"></div>
    </fieldset>
    </form>
</div>
    <div class="container">
        
    </div>
<footer class="row-footer">
    <div class="container-fluid">
        <div class="row"  style="font-size: medium">
            <div class="col-xs-6 col-sm-5">
                <h4>Contact us:</h4>
                <address>
                    <i class="fa fa-phone fa-lg"></i> : (91)-(022)-26707440<br>
                    <i class="fa fa-fax fa-lg"></i> : 26287250<br>
                    <i class="fa fa-envelope fa-lg"></i> :
                    <a href="#">stockmarket_query.net</a>

                </address>
            </div>
            <div class="col-xs-6 col-sm-4 col-xs-push-3">
                <div class="nav navbar-nav" style="padding: 40px 10px; color: black">
                    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div><br>
                <a href="#top"><img src={% static "pics/bootom-top-arrow2.png" %}></a>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px"></p><br><br><br>
                <p align=center style="font-size: small">© Copyright 2017</p>
            </div>
        </div>
    </div>
</footer>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script> -->
</body>
</html>
