<!DOCTYPE html>
<html>
<head>
    <title>Stock Market</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/mystyles.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<!--
<div class="scroll-top-wrapper ">
	<span class="scroll-top-inner">
		<i class="fa fa-2x fa-arrow-circle-up"></i>
	</span>
</div> -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img src="pics/adbms/7.png" style="height: 50px; width: 50px; top: 0px; left: 50px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="font-family: sans-serif; font-size: medium">
                <li class="active"><a href="main.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li><a href="stock1.html"><i class="fa fa-check"></i>&nbsp;Stocks</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="font-family: sans-serif; font-size: medium">
                <li><a class="button" href="register.html"><i class="fa fa-sign-in"></i>&nbsp;Register</a></li>
                <li><a class="button" href="login.html"><i class="fa fa-sign-in"></i>&nbsp;Login</a></li>
            </ul>

        </div>
    </div>
    </nav>
    <div class="parallax" id="slide1">
            <a href="#bottom" class="scroll-down" address="true"></a>
    </div>
<div class="line"></div>
    <header class="jumbotron row-header" id="bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <h2 >Learn and Trade stocks at...</h2>
                    <h1>Our Stock Market</h1>
                    <hr><hr>
                    <p style="padding:50px; font-size: 27px"><br>
                    Keeping in view the growing needs of the industry, we are committed to creating an environment, which will help people understand, analyze, buy and sell stocks. Along with a predictive analysis for the convenience of the people.</p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <img src="pics/adbms/1.jpg">
                </div>
            </div>
        </div>
    </header>
    <div class="line"></div>
    <div class="container-fluid"><br><br> <h1>Dont know about the <b>Stock Market</b> ?</h1><br><h2>Not to worry....</h2><h2>Here's what you need to know: </h2></div>
        <div class="container">
            <ul style="padding:50px; font-size: 25px">
                <li>A stock market, equity market or share market is the aggregation of buyers and sellers (a loose network of economic transactions, not a physical facility or discrete entity) of stocks (also called shares), which represent ownership claims on businesses; these may include securities listed on a public stock exchange as well as those only traded privately.</li><br>
                <li>Examples of the latter include shares of private companies which are sold to investors through equity crowdfunding platforms. Stock exchanges list shares of common equity as well as other security types, e.g. corporate bonds and convertible bonds.</li><br>
                <li>Market participants include individual retail investors, institutional investors such as mutual funds, banks, insurance companies and hedge funds, and also publicly traded corporations trading in their own shares. Some studies have suggested that institutional investors and corporations trading in their own shares generally receive higher risk-adjusted returns than retail investors</li>
            </ol>
    </div>
<footer class="row-footer">
    <div class="container-fluid">
        <div class="row"  style="font-size: medium">
            <div class="col-xs-6 col-sm-5">
                <h4>Contact us:</h4>
                <address>
                    <i class="fa fa-phone fa-lg"></i> : (91)-(022)-26707440<br>
                    <i class="fa fa-fax fa-lg"></i> : 26287250<br>
                    <i class="fa fa-envelope fa-lg"></i> :
                    <a href="#">stockmarket_query.net</a>

                </address>
            </div>
            <div class="col-xs-6 col-sm-4 col-xs-push-3">
                <div class="nav navbar-nav" style="padding: 40px 10px; color: black">
                    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div><br>
                <a href="#top"><img src="pics/bootom-top-arrow2.png"></a>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px"></p><br><br><br>
                <p align=center style="font-size: small">© Copyright 2017</p>
            </div>
        </div>
    </div>
</footer>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
</body>
</html>